@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard"
}

* {
  text-align: center;
}

.yellow {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: center;
  height: 10px;
  background-color: #FFF6A9;
  font-weight: 700;
}

.yDiv {
  margin: 40px auto;
}

.head {
  background-image: linear-gradient(to bottom, black, rgb(60, 60, 60));
  height: 800PX;
  width: 100%;
}

.m1 {
  color: #FF6C7A;
  font-weight: 700;
  font-size: 20px;

  margin: 10px auto;
}

.m2 {
  color: white;

  display: inline-block;
  padding: 5px 15px;

  background-color: #FF6C7A;
  border-radius: 10px;

  font-size: 60px;

  margin: 20px auto;

}

.m3 {
  color: white;

  font-size: 80px;
  font-weight: 700;
}

.m4 {
  color: white;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 10px;
}

.mBox {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}


.slideDiv {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.slideCard {
  display: block;
  width: 600px;
  border: 1px solid gray;
  border-radius: 30px;

  justify-content: start;
}

.slideTitle {
  background-color: #FF6C7A;
  color: white;

  font-size: 30px;
}

.slideContent {
  color: #FF6C7A;

  font-size: 40px;
}


.teamDiv {
  width: 100%;
  height: 800px;
  background-color: #F6F9FA;
  display: flex;
  font-weight: 700;
  
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

.teamInfo {
  margin: 30px auto;
}

.teamInfoDown {
  margin-top: 150px;
}

.linkDiv {
  height: 800px;
  width: 100%;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  display: flex;

  font-weight: 700;
}

.memberCards {
  width: 1200px;
  height: 500px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: antiquewhite;
}

.linkCard {
  width: 200px;
  height: 200px;

  margin: auto;
  
  background-color: aquamarine;
}