.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.inputDiv {
    vertical-align: middle;
    height: 250px;
    border-radius: 15px;
}

#sendBtn {
    color: white;
    background-color: #FF6C7A;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    
    width: 200px;
    
    margin-left: 15px;
    
    border-radius: 10px;
}

.cheeringCards {
    height: 70px;
    justify-content: center;
    
    display: flex;
}


#mentDet {
    justify-content: center;
    font-size: 25px;
    height: 250px;
    line-height: 240px;
    width: 600px;
    height: 250px;
    width: 600px;

    border-radius: 10px;
    border-color: #DBDBDB;

    resize: none;
}
#nickname {
    width: 370px;
    height: 40px;

    border-radius: 10px;
    border: solid 1px #DBDBDB;
}

#com1 {
    padding: 50px;
    font-size: 20px;
}

#mentFrame {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#com2 {
    padding-top: 10px;
    display: flex;
}

.cNick {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
}

.cardBody{
    
}