.comment{
padding-bottom: 50px;
}

.comment>span{
    display: inline;
}

/* .comment>input::placeholder */
#mentDet{
justify-content: center;
font-size: 50px;
}

.input-div {
    vertical-align: middle;
}

#sendBtn {
    color: white;
    background-color: #FF6C7A;
    border-radius: 10px;
    border: none;
    font-size: 30px;

    width: 200px;
    padding: 20 100;
}
.cheeringCards{
    justify-content: center;

    display: flex;

    width: 400px;
}

#mentDet{
    width: 600px;
    height: 250px;
}

#nickname{
    width: 370px;
    height: 40px;
}

#com1{
    padding: 50px;
    font-size: 20px;
}

#mentFrame{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
