.comment{
padding-bottom: 50px;
}


#cSpan{
    display: inline;
}

#mentDet{
justify-content: center;
font-size: 30px;
height: 250px;
line-height: 240px;
}

.inputDiv {
    vertical-align: middle;
    height: 250px;
    border-radius: 15px;
}

#sendBtn {
    color: white;
    background-color: #FF6C7A;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    
    width: 200px;
    padding: 20 100;
    margin-left:  15px;;
    border-radius: 15px;
}

.cheeringCards{
    justify-content: center;

    display: flex;

    /* width: 500px; */
}

#mentDet{
    width: 600px;
    height: 250px;
}

#nickname{
    width: 370px;
    height: 40px;
}

#com1{
    padding: 50px;
    font-size: 20px;
}

#mentFrame{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#com2{
    padding-top: 10px;
}

.cNick{
    display: flex;
    align-items: center;
    justify-content:end;
width: 200px;
}