@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: "Pretendard"
}

body{
	margin: 0;
    background-image: url(../images/배경.jpg);

} 

.header{
    
    height: 50px;
    display: flex;
    align-items: center;
    
}
.mainLink {
    text-align: center;
    width: 56px;
    height: 29px;
    position: relative;
    margin-left: 10px;
}

a{
    text-decoration: none; 
}

.introBox{
    padding: 100px 0;
}

.box {
    display: flex;
    justify-content: center;
}

.memberIntro {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    padding: 50px 0;
    border-radius: 3%;
    background-color: rgb(255, 255, 255, 0.8);
}

.promise{
 font-size: 40px;
 display: flex;
 align-items: center;
 margin-left: 100px;
}

.memberName{
    text-align: center;
    padding: 15px 0;
}

.highLight{
    display: inline;
    box-shadow: inset 0 -10px 0 aquamarine; 
  font-weight: 700;
}


.memberInfo {
    width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 5px;
}

.btnGroup button {
    background-color: #FF6C7A;
    border: 1px solid rgb(255, 59, 59);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float:inline-start;
    width: 250px;
    height: 35px;
    font-size: 15px;
}

.btnGroup:after {
    content: "";
    clear: both;
    display: table;
}

.btnGroup button:not(:last-child) {
    border-right: none;
}

.btnGroup button:hover {
    background-color: #ff4255;
}

.btn1 {
    border-top-left-radius: 5px;
}

.btn4 {
    border-top-right-radius: 5px;
}



.contents {
    border: 1px solid black;
    border-top: none;
    padding: 30px 10px 0px 10px;
    background-color: white;
}

.contents > div{
    margin-bottom: 30px;
}

.memberTitle {
    padding: 10px ;
    
}
.memberImg {
    height: 240px;
    width: 240px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;

}

.memberSite {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}


.memberSite > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
    background-color: transparent;
}